<h1>My Todo's</h1>

<div class="alerts alert-success" *ngIf="message">{{message}}</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Target Date</th>
        <th>is Completed?</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <td>{{todo.id}}</td>
        <td>{{ todo.description }}</td>
        <td>{{ todo.targetDate | date | uppercase }}</td>
        <td>{{ todo.done }}</td>
        <td><button class="btn btn-success" (click)="updateTodo(todo.id)">Update</button></td>
        <td><button class="btn btn-warning" (click)="deleteTodo(todo.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <tr class="row">
    <button class="btn btn-success" (click)="addTodo()">Add</button>
  </tr>
</div>
